.game {
    display: flex;
    flex-direction: column;
    text-align:left;
    margin: 5% 30% 5% 30%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 2%;
}

h2 {
    text-align: center;
}